<%= form_with model: @patient do |f| %>
  <%= f.label 'Nombre' %>
  <%= f.text_field :first_name %>
  <%= f.label 'Apellidos' %>
  <%= f.text_field :last_name %>
  <%= f.label 'Edad' %>
  <%= f.text_field :age %>
  <%= f.label 'Email' %>
  <%= f.text_field :email %>
  <%= f.label 'Dirección' %>
  <%= f.text_field :address %>
  <%= f.label 'Teléfono' %>
  <%= f.text_field :phone %>

  <% if current_page?(new_patient_path) %>
    <p>hola</p>
    <%= f.fields_for :consultations do |c| %>
      <%= c.text_field :summary %>
        <%= f.collection_select :doctor, Doctor.order(:first_name), :id, :first_name, include_blank: true %>
    <% end %>
  <% end %>
  <%= f.submit 'Crear' %>
<% end %>
